:root {
    --background-color: #080808;
    --main-color: #23f057;
    --main-green: #23f057;
    --main-red: #fc3503;
    --main-blue: #0362fc;
    --main-yellow: #fcc603;
    --main-white: #ddd;
    --main-purple: #ad12ea;
    --main-pink: #fc034e;

    --svg-black: invert(0%) sepia(56%) saturate(89%) hue-rotate(243deg) brightness(1%) contrast(94%);
    --svg-grey: invert(10%) sepia(56%) saturate(89%) hue-rotate(243deg) brightness(90%) contrast(94%);
    --svg-green: invert(77%) sepia(20%) saturate(1750%) hue-rotate(79deg) brightness(485%) contrast(95%);
    --svg-red: invert(26%) sepia(60%) saturate(8794%) hue-rotate(-6deg) brightness(85%) contrast(128%);
    --svg-blue: invert(26%) sepia(74%) saturate(11805%) hue-rotate(216deg) brightness(107%) contrast(98%);
    --svg-yellow: invert(76%) sepia(53%) saturate(3089%) hue-rotate(4deg) brightness(311%) contrast(98%);
    --svg-white: invert(96%) sepia(6%) saturate(63%) hue-rotate(222deg) brightness(4013%) contrast(73%);
    --svg-purple: invert(20%) sepia(90%) saturate(3162%) hue-rotate(276deg) brightness(589%) contrast(118%);
    --svg-pink: invert(11%) sepia(35%) saturate(25176%) hue-rotate(344deg) brightness(121%) contrast(98%);
    --svg-default: var(--svg-green);
    --svg-selected: var(--svg-black);
}

@font-face {
    font-family: font-primary;
    src: url(/assets/Minercraftory.ttf);
}

html, body {
    overflow-x: hidden;
}

* {
    color: white;
    /*border: 1px solid red;*/
}
body {
    background-color: #040404;
}

@media screen and (min-width: 1200px) {
    .main {
        padding-left: 50px;
        padding-right: 50px;  
    }
    
    .tabs .tab-content.selected {
        margin-left: -24px !important;
        margin-right: 28px !important;
    }
}

button {
    background-color: #000;
    color: var(--main-color);

}

.center-x {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.center-y {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.fs-xs {
    font-size: x-small;
}
.fs-sm {
    font-size: small;
}

.header {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(10%);
    -ms-transform: translateY(10%);
    transform: translateY(10%);
    color: var(--main-color);
    /*font-family: "";*/
}

.main {
    background-color: #040404;
    height: auto;
    border-radius: 10px;
}

#logo-bg {
    background-color: rgb(20, 20, 20);
    width:100%; 
    border-bottom: 3px solid var(--main-color);
}
#logo {
    
    z-index: 5;
}

#logo-bg #logo-shadow {
    filter: var(--svg-black) !important;
    position:absolute;
} 


@media screen and (max-width: 576px) {
    #logo-shadow {
        display: none;
    }
    .main {
        margin-top: 8px !important;
    }
    #logo-bg {
        background-color: #111; 
    }
    #logo {
        height: 12vh;
    }
}

@media screen and (max-width: 760px) {
    #roms-parent {
        margin-left: -2px;  
    }
}
@media screen and (min-width: 976px) {
    #roms-parent {
        margin-left: 10px;  
    }
}

#roms {
    font-weight: 200;
    font-size: x-large;
    font-family: font-primary, 'Courier New', Courier, monospace,  Helvetica !important;
    margin-left: 0px; 
    border-radius: 3px;
    border: 1px var(--main-color) solid;
    background-color: #000;
    color: var(--main-color);
    border-radius: 1px;
    border-width: 3px;
    width: 100%;
} 
#roms:hover {
    background-color: #222;
} 
.opt {
    background-color: #000;
    color: var(--main-color); 
}

.emu-btn {
    text-align: center;
    display: flex;
    border: 3px solid var(--main-color);
    border-radius: 4px;

    transition: all 0.15s ease;
    box-shadow: 0 1px 0 0 var(--main-color);
}
.emu-btn:hover, .emu-btn.selected {
    box-shadow: 0 1px 0 0 var(--main-color);
    border-color: var(--main-color);
    color: var(--main-color);
    background-color: rgba(51, 51, 51, 0.803)
}
.emu-btn:active, .emu-btn.selected {
    transition: all 0.05s ease;
    transform: translateY(1px);
    box-shadow: 0 0px 0 0 var(--main-color);
    background-color: var(--main-color);
}

svg{
    filter: var(--svg-default);
    shape-rendering: crispEdges;
}
.selected svg{
    filter: var(--svg-selected);
}

#step-svg:active {
    filter: var(--svg-selected); 
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
}/* Chrome, Safari, Opera, and Edge Chromium */
input[type="range"]::-webkit-slider-runnable-track {
    border-radius: 2px;
    border: var(--main-color) solid 1px;
    background: #000;
    height: 0.5rem;
}
/* Firefox */
input[type="range"]::-moz-range-track {
    border-radius: 4px;
    border: var(--main-color) solid 1px;
    background: #000;
    height: 0.6rem;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: solid;
    border-width: 4px;
    border-color: var(--main-color);
    background-color: var(--main-color);
    height: 0.9rem;
    width: 0.7rem;
    margin-top: -0.075rem;
    border-radius: 3px;
}
input[type="range"]::-moz-range-thumb {
    border: 3px solid var(--main-color);
    border-radius: 0px;
    background-color: var(--main-color);
    height: .5rem;
    width: .5rem;
}
input[type=range]::-moz-range-progress {
    background: var(--main-color);
    border: 5px solid var(--main-color);
}

@media screen and (min-width: 1200px) {
    #canvas-outer {
        padding-left: 48px;
        padding-right: 48px;
        margin-right: 48px;
    }
    
}
@media screen and (min-width: 976px) {
    #canvas-outer {
        padding-left: 24px;
        padding-right: 24px;
    }
}

#canvas-outer {
    margin-bottom: 16px;
}
canvas {
    box-shadow: 0 0 0 6px var(--main-color); 
    width: 100%;
}

.tabs {
    min-width: 0;
}
.tabs .tab-content.selected {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    height:auto;
    min-width: 0;
    margin-left: 12px;
    margin-right: 12px;
}
.tabs ul {
    display: flex;
}

.tabs ul li.selected {
    color: #f00;
    border: 1px solid var(--main-color);
    border-bottom: 0px;
    border-color: var(--main-color);
    z-index: 2;
}
.tabs ul li:hover:not(.selected) {
    transition: 0.5s;
    filter: brightness(60%);
}
.btn-block.inactive {
    filter: brightness(60%);
}
span {
    font-size: small;
}

.tab-content  {
    margin: 0px 0px 0px 0px;
    font-family: 'lucida console';
    display: none;
    background-color: #040404;
    color: white;
    border: 0px solid var(--main-color);
    border-radius: 2px;
    border-top: 0px;
    padding: 8px;
}

@media (min-width:992px) {
    .register-row {
    }
    .register {
         font-size: small;
    }
}


.register-lab {
    margin-left: 10px;
}
.register {
    margin-right: 10px;
    color: #f00;
    display: flex;
    align-items: center;
}
.base-btn {
    font-size: medium;
    background-color: var(--background-color);
    color: var(--main-color);
    width: 60px;
    height: 48px;
    border: 3px solid var(--main-color);
    border-bottom: 5px var(--main-color) solid; 
}
.base-btn:hover {
    background-color: #333;
}
.base-btn.selected {
    color: var(--background-color);
    background-color: var(--main-color);
    margin-top: 0px;
    border-bottom: solid 0px var(--main-color) !important;
}

#tab2-content.selected {
    overflow-x: scroll;
}
#log {
    flex: 1 1 180px;
    font-size: small;
    overflow-y: scroll;
    max-height: 100%;
    margin-bottom: 0px;
    min-width: fit-content;
    max-width: 5000px;
    flex-wrap: wrap;
}

#keypad { 
    display: flex;
    flex-direction: column;
    flex: 1 1 ;
    padding: 4px;
    height: 100%;
    width: auto;
}
.key-row {
    flex: 1 1 ; 
    width: auto;
    align-items: center;
    justify-content: center;
}
.key {
    flex: 1 1 ;
    min-width: 0px;
    max-height: 80px;
    max-width: 80px;
    padding-left: 6px;
    color: white;
    aspect-ratio: 1/1;
    border: 4px solid var(--main-color);
    border-top:var(--main-color) solid 1px;
    margin: 4px;
    box-shadow: 0 4px 0 0 var(--main-color);
    border-radius: 2px !important;
}
.key:hover{
    color: #aaa;
    border-color: var(--main-color);
    box-shadow: 0 4px 0 0 var(--main-color);
	background-color: #111;
}
.key:active {
    box-shadow: 0 1px 0 0 var(--main-color);
    transform: translatey(3px);
    border-color: var(--main-color);
    box-shadow: 0 1px 0 0 var(--main-color);
}
.key-active {
	background-color: #111 !important;
    box-shadow: 0 1px 0 0 var(--main-color) !important;
    transform: translatey(3px) !important;
    transition: all 0.1s ease !important;
    border-color: var(--main-color) !important; 
    filter: brightness(60%);
}

*:focus {
    outline: none;
}

#settings-ui {
    z-index: 5;
    position: absolute; 
    right: 64px;
    top: 20px; 
    background-color: #fff; 
    height: 350px; 
    width: 240px;
    border-radius: 1px;
    border-color: var(--main-color);
    border-width: 6px;
    border-style: solid;
    background-color: #040404;
}

.color-pick {
    width: 24px;
    height: 24px;
    border-width: 0px;

}

.color-pick.selected {
    box-shadow: 0 0 0 6px #e6e6e6;
}

#render-style {
    height: 36px;
    width: 36px;
    background-color: rgba(0,0,0,0);
    border-radius: 2px;
    border: 3px solid var(--main-color);
}

.render-btn-square {
    margin: 2px;
    border-radius: 1px;
    transition: 0.1s ease-out;
    transition-property: margin;
}

#render-style.selected .render-btn-square {
    margin: -1px;
    border-radius: 1px;
    transition: 0.1s ease-out;
    transition-property: margin;
}

#tab-btns.btn-group { 
    justify-content: space-around !important; 
    margin-left: 0px !important; 
    margin-top: 12px; 
}
#tab-btns.btn-group .btn-block { 
    width: 100%;
    padding: 8px 0px 8px 0px;
    margin-left: -2px;
    margin-right: -2px;
}

#cpu-svg { 
    height: 4em !important;
    width: 4em !important; 
}

#log-svg { 
    height: 4em !important;
    width: 4em !important; 
}

#gamepad-svg { 
    height: 3em !important;
    width: 4em !important; 
}

#tab-btns { 
    padding: 10px;
    border: 5px solid var(--main-color);
    border-radius: 1px;
}

.tabs .btn-block {
    border: 0px;
    cursor: pointer;  
    display: inline;
    color: var(--main-color);
    background-color: var(--background-color);
    transition: 0.1s;
}
.tabs .btn-block.selected {
    background-color: var(--main-color);
    transition: 0.1s; 
}
.tabs .btn-block:hover svg
{
    transition: 0.2s ease-out;
    transition-property: margin-top;
    margin-top: -6px;
}

.top-bar-right {
    float: right;
    justify-content: right;
}
@media (min-width:976px) {
    
    .keypad-shift-right {
        margin-left: 72px !important;
    }
}

#mobile-roms-parent {
    
}
@media (min-width:576px) {
    
    #mobile-roms-parent {
        display: none !important;
    }
}

@media (max-width:576px) {
    
    .top-btn {
        margin-left: 8px !important;
    }
}
