* {
    border-width: 1px;
    border-style: solid;
    border-color: red;
    color: white;
}
body {
    background-color: #111;
}

.center-x {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.center-y {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(10%);
    -ms-transform: translateY(10%);
    transform: translateY(10%);
    color: #0f0;
    /*font-family: "";*/
}

.main {
    background-color: #040404;
    height: auto;
    border-radius: 10px;
}

.emubtn #pause {
    background-color: #ddd;
}
.emubtn:hover {
    background-color: #444;
}
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
}/* Chrome, Safari, Opera, and Edge Chromium */
input[type="range"]::-webkit-slider-runnable-track {
    border-radius: 2px;
    border: #fff solid 1px;
    background: #000;
    height: 0.5rem;
}
/* Firefox */
input[type="range"]::-moz-range-track {
    border-radius: 2px;
    border: #fff solid 1px;
    background: #000;
    height: 0.5rem;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: solid;
    border-width: 2px;
    border-color: #000;
    background-color: #0f0;
    height: 0.7rem;
    width: 0.7rem;
    margin-top: -0.075rem;
    border-radius: 2px;
}
input[type="range"]::-moz-range-thumb {
    border-color: #000;
    border-radius: 3px;
    background-color: #0f0;
    height: .5rem;
    width: .5rem;
}

canvas {
    border-radius: 2px;
    background-color: black;
    width: 100%;
}

.tabs .tab-content {
    display: none;
    flex: 1 1 auto;
}
.tabs .tab-content.selected {
    display: block;
}
.tabs ul {
    display: flex;
}
.tabs ul li {
    padding: 0px 8px;
    display: inline;
    color: white;
    background-color: black;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    transition: 0.1s;
    border-radius: 2px 2px 0px 0px;
}
.tabs ul li.selected {
    border-bottom: 0px;
}
.tabs ul li:hover {
    transition: 0.5s;
    filter: brightness(60%);
}
span {
    font-size: small;
}

.tab-content  {
    background-color: black;
    color: white;
    border-width: 0px;
    border-style: solid;
    border-top: 0px;
    border-color: white;
    padding: 8px;
}
.register_lab {
    margin-left: 2vw;
}
.register {
    margin-right: 2vw;
    color: #0f0;
}
